<section class="row mh-me-presentacion">
  <div class="col-xs-5 col-sm-3 col-md-3 col-sm-3 center-block">
    <img class="mh-me-avatar" gravatar-src="vm.band.email" gravatar-size="300"/>
    <small class="mh-gravatar-legend hidden-xs hidden-sm">
      Podés cambiar tu avatar en <a href="https://es.gravatar.com" target="_blank">gravatar.com</a>
    </small>
    <p class="mh-me-descripcion hidden-xs hidden-sm">
      {{vm.band.bio}}
    </p>
    <dl>
      <dt>Links</dt>
      <dd>
        <a ng-if="vm.band.email" ng-href="mailto:{{vm.band.email}}">
          <i class="fa fa-envelope"></i>
        </a>
        <a ng-if="vm.band.website" ng-href="{{vm.band.website}}">
          <i class="fa fa-cloud"></i>
        </a>
        <a ng-if="vm.band.facebookId" ng-href="https://facebook.com/{{vm.band.facebookId}}">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a ng-if="vm.band.twitterId" ng-href="https://twitter.com/{{vm.band.twitterId}}">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a ng-if="vm.band.googlePlusId" ng-href="https://plus.google.com/{{vm.band.googlePlusId}}">
          <i class="fa fa-google-plus-square"></i>
        </a>
      </dd>
    </dl>
  </div>
  <div class="col-xs-7 col-sm-9 col-md-9 col-sm-9 center-block">
      <h1 class="mh-me-nombre">{{vm.band.name}}</h1>
      <section ng-if="vm.band.discs.length > 0" class="row mh-me-reproductor hidden-xs hidden-sm">
        <div class="col-md-12 col-sm-12 center-block mh-me-legend">
          <h1>REPRODUCTOR +</h1>
          <music-player ng-if="vm.band.discs.length > 0" discs="vm.band.discs"></music-player>
        </div>
      </section>
  </div>
</section>

<section class="row mh-me-description hidden-md hidden-lg">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    {{vm.band.bio}}
  </div>
</section>

<section class="row mh-me-reproductor hidden-md hidden-lg">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <h1>REPRODUCTOR +</h1>
    <music-player ng-if="vm.band.discs.length > 0" discs="vm.band.discs"></music-player>
  </div>
</section>

<band-members ng-if="vm.members.length > 0 || vm.band.leader" leader="vm.band.leader" artists="vm.members"></band-members>

<section ng-if="vm.band.photos.length > 0" class="row mh-me-imagenes">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <h1>IMAGENES +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{loop:false, autoHeight : true, margin:10, lazyLoad:true, nav:false, responsive:{ 0:{ items:1 }, 600:{ items:3 }, 1000:{ items:5 } } }">
      <div owl-carousel-item="" ng-repeat="photo in vm.band.photos" class="item">
        <img class="lazyOwl" ng-src="http://drive.google.com/uc?export=view&id={{photo.fileId}}" alt="{{photo.title}}" width="100%" />
      </div>
    </owl-carousel>
  </div>
</section>

<section ng-if="vm.band.videos.length > 0" class="row mh-me-videos">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <div class="mh-separator"></div>
    <h1>VIDEOS +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{ items: 3, merge:true, loop:false, lazyLoad:true, nav:false, margin:10, video:false, responsive:{0:{ items:1 }, 480:{items:1},600:{items:4}}}">
      <div owl-carousel-item="" data-merge="1.54" ng-if="video.url" ng-repeat="video in vm.band.videos" class="item-custom-video">
        <video class='videoPlayer' controls preload='metadata'>
          <source ng-src='{{video.url}}' type="{{video.format}}; codecs='theora, vorbis'">
        </video>
      </div>
    </owl-carousel>
  </div>
</section>
<section class="row mh-me-comments">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <h1>COMENTARIOS +</h1>
    <dir-disqus ng-if="vm.band.slug"
             disqus-shortname="musichuboffcial"
             disqus-identifier="{{vm.band.slug}}"
             disqus-title="{{vm.band.slug}}"
             disqus-url="http://musichub.com.ar/{{ bandHref('band', {id: vm.band.slug}, {}) }}">
    </dir-disqus>
  </div>
</section>
