<form class="mh-bands-search-form">
  <div class="form-group">
    <label for="band-search">
      <small>Busc&aacute; Artistas o Bandas:</small>
    </label>
    <div class="input-group mh-search-box">
      <input
        type="text"
        ng-model="vm.seachBox"
        placeholder="Artistas o Bandas"
        typeahead="state as state.name for state in vm.bands"
        class="form-control">
      <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
    </div>
  </div>
</form>
