<div class="row mh-media-player">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <videogular vg-player-ready="vm.onPlayerReady($API)" vg-complete="vm.onCompleteTrack()" class="videogular-container audio" preload="auto">
      <vg-media vg-src="[tracks[currentIndexTrack]]" vg-type="audio"></vg-media>
      <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
      </vg-controls>
    </videogular>
    <div class="row mh-playlist-container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mh-playlist">
        <div class="list-group">
          <a ng-click="vm.setTrack(key)" class="list-group-item" ng-class="{'active': key === currentIndexTrack}" ng-repeat="(key, track) in tracks">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-1 col-lg-2 mh-artwork">
                <img ng-if="!track.disc.artwork.id" class="mh-artwork-img" src="../../img/mh-disc-no-artwork.png" alt="Artwork" />
                <mh-render-photo ng-if="track.disc.artwork.id" class="mh-artwork-img" id="track.disc.artwork.id"></mh-render-photo>
              </div>
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <span ng-bind-html="track.name"></span> - {{track.disc.name}}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
