<section class="row mh-me-box mh-ribbon-success">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>B&Uacute;SQUEDAS +</h1>
    <div class="input-group mh-search-box">
      <input
        type="text"
        ng-model="vm.eventsSeachBox"
        placeholder="Búsquedas"
        ng-change="vm.updateFilteredList()"
        class="form-control">
      <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
    </div>
    <table class="table table-striped" at-table at-paginated at-list="vm.filteredList" at-config="vm.config">
      <tbody>
        <tr>
          <td>
            <a ng-href="{{item.offerer.uiSref}}" href="#">
              <img class="mh-me-avatar" gravatar-src="'{{item.offerer.email}}'" gravatar-size="150"/>
            </a>
          </td>
          <td>
            <h4>
              <i class="fa fa-music"></i>
              {{item.title}}
              <postulate-me postulation="item"></postulate-me>
            </h4>
            <p>{{item.text}}</p>
            <h6>
              Ofertante:
              <a ng-href="{{item.offerer.uiSref}}" href="#">
                {{item.offerer.name}} {{item.offerer.lastname}}
              </a>
            </h6>
          </td>
        </tr>
      </tbody>
    </table>

    <at-pagination class="text-center" at-list="vm.filteredList" at-config="vm.config"></at-pagination>

  </div>
</section>
