<aside class="mh-sidebar-wrapper">
  <header>
    <a class="btn pull-right" ng-click="visible = !visible">
      <i class="fa fa-close"></i>
    </a>
    <img src="img/mh-logo-header-inverted.png" class="mh-sidebar-brand-logo" />
  </header>
  <hr />
  <form class="mh-bands-search-form">
    <div class="form-group">
      <label for="band-search">
        <small>Busc&aacute; Artistas o Bandas:</small>
      </label>
      <div class="input-group">
        <input type="text" class="form-control" id="band-search" placeholder="Artistas o Bandas" required>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-warning">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </form>
  <hr />
  <ul class="nav nav-pills nav-stacked mh-sidebar-nav">
    <li ng-class="{active: $route.current.name == 'home'}"><a href="#/">Inicio</a></li>
    <li ng-class="{active: $route.current.name == 'profile'}"><a href="#/me">Mi Perfil</a></li>
    <li ng-class="{active: $route.current.name == 'profile-bands'}"><a href="#/me/bands">Mis Bandas</a></li>
    <li ng-class="{active: $route.current.name == 'profile-propousals'}"><a href="#/me/propousals">Mis Postulaciones</a></li>
  </ul>
  <hr />
  <section class="mh-auth-wrapper">
    <a href="#/register" class="btn btn-success btn-block">
      &iexcl;Registrate Gratis!
    </a>
    <p class="text-center mh-auth-haveaccount">
      &iquest;Ya ten&eacute;s una cuenta? <a href="#/login">Ingres&aacute;</a>
    </p>
    <p class="text-center mh-auth-haveaccount">
      Olvidaste la contraseña <a href="#/recoverpassword">Recuperar</a>
    </p>
  </section>
  <footer class="text-center mh-sidebar-footer">
    <hr />
    <div class="mh-sidebar-footer-social row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="#">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a href="#">
          <i class="fa fa-google-plus-square"></i>
        </a>
      </div>
    </div>
    <div class="text-right mh-sidebar-footer-legend">
      <small>
        UNLaM. {{time | date:'yyyy'}}.
      </small>
    </div>
  </footer>
</aside>
