<aside class="mh-sidebar-wrapper">
  <header>
    <a class="btn pull-right" ng-click="vm.visible = !vm.visible">
      <i class="fa fa-close"></i>
    </a>
    <img src="img/mh-logo-header-inverted.png" class="mh-sidebar-brand-logo" />
  </header>
  <hr />
  <user-credentials current-user="globals"></user-credentials>
  <ul class="nav nav-pills nav-stacked mh-sidebar-nav">
    <li ui-sref-active-eq="active">
      <a ui-sref="home">
        <i class="fa fa-home"></i>
        Inicio
      </a>
    </li>
    <li ng-if="vm.isLogged" ui-sref-active-eq="active">
      <a ui-sref="myProfile">
        <i class="fa fa-user"></i>
        Mi Perfil
      </a>
    </li>
    <li ng-if="vm.isLogged && (vm.currentUser.class === 'com.musichub.Artist')" ui-sref-active-eq="active">
      <a ui-sref="myBands">
        <i class="fa fa-users"></i>
        Mis Bandas
      </a>
    </li>
    <li ng-if="vm.isLogged" ui-sref-active-eq="active">
      <a ui-sref="myPropousals">
        <i class="fa fa-calendar"></i>
        Mis Postulaciones
      </a>
    </li>
  </ul>
  <non-logged-user-actions current-user="globals"></non-logged-user-actions>
  <hr />
  <footer class="text-center mh-sidebar-footer">
    <div class="mh-sidebar-footer-social row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a target="_blank" href="https://www.facebook.com/musichubofficial">
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a target="_blank" href="https://www.youtube.com/c/MusichubArOfficial ">
          <i class="fa fa-youtube-square"></i>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <a target="_blank" href="https://www.google.com/+MusichubArOfficial">
          <i class="fa fa-google-plus-square"></i>
        </a>
      </div>
    </div>
    <div class="text-right mh-sidebar-footer-legend">
      <small>
        UNLaM. {{vm.currentYear | date:'yyyy'}}.
      </small>
    </div>
  </footer>
</aside>
