<section ng-if="vm.isLogged" class="">
  <div class="row center-block">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
          <img style="width: 100%;" gravatar-src="vm.currentUser.email" gravatar-size="150"/>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
          <dl>
            <dt>
              {{vm.currentUser.username}}
              <button ng-click="logout()" class="btn btn-danger btn-xs">
                Salir
              </button>
            </dt>
            <dd>
              {{vm.currentUser.bio}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
