<section class="row mh-me-presentacion">
  <div class="col-xs-5 col-sm-3 col-md-3 col-sm-3 center-block">
    <img class="mh-me-avatar" gravatar-src="vm.place.email" gravatar-size="300"/>
    <small class="mh-gravatar-legend hidden-xs hidden-sm">
      Podés cambiar tu avatar en <a href="https://es.gravatar.com" target="_blank">gravatar.com</a>
    </small>
    <p class="mh-me-descripcion hidden-xs hidden-sm">
      {{vm.place.description}}
    </p>
    <dl>
      <dt ng-if="vm.place.address">Dirección</dt>
      <dd ng-if="vm.place.address">
        <i class="fa fa-road"></i>
        {{vm.place.address}}
      </dd>
      <dt ng-if="vm.place.phone">Teléfono</dt>
      <dd ng-if="vm.place.phone">
        <i class="fa fa-phone"></i>
        {{vm.place.phone}}
      </dd>
      <dt>Links</dt>
      <dd>
        <a ng-if="vm.place.email" ng-href="{{vm.place.email}}" href="#">
          <i class="fa fa-envelope"></i>
        </a>
        <a ng-if="vm.place.website" ng-href="{{vm.place.website}}" href="#">
          <i class="fa fa-cloud"></i>
        </a>
        <a ng-if="vm.place.facebookId" ng-href="https://facebook.com/{{vm.place.facebookId}}" href="#">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a ng-if="vm.place.twitterId" ng-href="https://twitter.com/{{vm.place.twitterId}}" href="#">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a ng-if="vm.place.googlePlusId" ng-href="https://plus.google.com/{{vm.place.googlePlusId}}" href="#">
          <i class="fa fa-google-plus-square"></i>
        </a>
      </dd>
    </dl>
  </div>
  <div class="col-xs-7 col-sm-9 col-md-9 col-sm-9 center-block">
      <h1 class="mh-me-nombre">{{vm.place.name}}</h1>
      <section class="row mh-me-box mh-ribbon-warning hidden-xs hidden-sm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
          <h1>FECHAS +</h1>
          <div class="row" ng-repeat="event in vm.place.events">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
              <a href="#">
                <mh-render-photo class="mh-photo-table" id="event.photo.id"></mh-render-photo>
              </a>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
              <h4 class="media-heading">
                {{event.name}}
                <span class="badge">
                  <a ng-href="{{event.url}}" target="_blank" href="#">
                    Link
                    <i class="fa fa-cloud"></i>
                  </a>
                </span>
              </h4>
              <small>
                <small>
                  <p>{{event.text}}</p>
                </small>
              </small>
            </div>
          </div>
        </div>
      </section>
  </div>
</section>

<section class="row mh-me-description hidden-md hidden-lg">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    {{vm.place.description}}
  </div>
</section>

<section class="row mh-me-box mh-ribbon-warning hidden-md hidden-lg">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>FECHAS +</h1>
    <div class="row" ng-repeat="event in vm.place.events">
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
        <a href="#">
          <mh-render-photo class="mh-photo-table" id="event.photo.id"></mh-render-photo>
        </a>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <h4 class="media-heading">
          {{event.name}}
          <span class="badge">
            <a ng-href="{{event.url}}" target="_blank" href="#">
              Link
              <i class="fa fa-cloud"></i>
            </a>
          </span>
        </h4>
        <small>
          <small>
            <p>{{event.text}}</p>
          </small>
        </small>
      </div>
    </div>
  </div>
</section>

<section ng-if="vm.place.photos.length > 0" class="row mh-me-imagenes">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <h1>IMAGENES +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{loop:false, autoHeight : true, margin:10, lazyLoad:true, nav:false, responsive:{ 0:{ items:1 }, 600:{ items:3 }, 1000:{ items:5 } } }">
      <div owl-carousel-item="" ng-repeat="photo in vm.place.photos" class="item">
        <img class="lazyOwl" ng-src="http://drive.google.com/uc?export=view&id={{photo.fileId}}" alt="{{photo.title}}" width="100%" />
      </div>
    </owl-carousel>
  </div>
</section>

<section class="row mh-me-box hidden-xs hidden-sm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>B&Uacute;SQUEDAS +</h1>
    <div class="row" ng-repeat="postulation in vm.place.postulations">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="media-heading">
          <i class="fa fa-music"></i>
          {{postulation.title}}
          <postulate-me postulation="postulation"></postulate-me>
        </h4>
        <small>
          <small>
            <p>{{postulation.text}}</p>
          </small>
        </small>
      </div>
    </div>
  </div>
</section>

<section class="row mh-me-videos">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <div class="mh-separator"></div>
    <h1>VIDEOS +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{ items: 3, merge:true, loop:false, lazyLoad:true, nav:false, margin:10, video:false, responsive:{0:{ items:1 }, 480:{items:1},600:{items:4}}}">
      <div owl-carousel-item="" data-merge="1.54" ng-repeat="video in vm.place.videos" class="item-custom-video">
        <video class='videoPlayer' controls preload='metadata'>
          <source src='{{video.url}}' type='{{video.format}}'>
        </video>
      </div>
    </owl-carousel>
  </div>
</section>

<section class="row mh-me-comments">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <h1>COMENTARIOS +</h1>
    <dir-disqus ng-if="vm.place.slug"
             disqus-shortname="musichuboffcial"
             disqus-identifier="{{vm.place.slug}}"
             disqus-title="{{vm.place.slug}}"
             disqus-url="http://musichub.com.ar/{{ placeHref('place', {id: vm.place.slug}, {}) }}">
    </dir-disqus>
  </div>
</section>
