<section class="mh-auth-login-wrapper">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-8 col-xs-12 center-block mh-auth-bg">
      <div class="mh-auth-login">
        <h2 class="text-center">Registrate en Musichub</h2>
        <br />
        <form novalidate>
          <div class="form-group">
            <label for="mh-whois">&iquest;Qu&eacute; sos?</label>
            <select id="mh-whois" class="form-control">
              <option value="0">Artista</option>
              <option value="1">Lugar para Tocar</option>
            </select>
          </div>
          <div class="form-group">
            <label for="mh-email">Email</label>
            <input type="email" class="form-control" id="mh-email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="mh-password">Password</label>
            <input type="password" class="form-control" id="mh-password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="mh-password-confirm">Confirmar Password</label>
            <input type="password" class="form-control" id="mh-password-confirm" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success btn-block">&iexcl;Registrate!</button>
        </form>
        <hr />
        <p class="text-right mh-auth-haveaccount">
          &iquest;Ya ten&eacute;s una cuenta? <a href="#/login">Ingres&aacute;</a>
        </p>
        <div class="mh-auth-quote">
          <blockquote>
            <small>Somos Actores de ese gran escenario que se llama vida, pasiones, amores, traiciones, sueños y mentiras...</small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
