<section class="row mh-home-videos">
  <div class="col-md-12 col-sm-12 center-block mh-videos-legend">
    <h1>MIS BANDAS +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{loop:false, autoHeight : false, margin:10, lazyLoad:true, nav:false, responsive:{ 0:{ items:3 }, 600:{ items:3 }, 1000:{ items:5 } } }">
      <div owl-carousel-item data-merge="" ng-repeat="band in vm.bands" class="item">
        <a ng-click="vm.bandSelected = band.id" href="#">
          <img class="mh-me-avatar" gravatar-src="band.email" gravatar-size="300"/>
          <h4>{{band.name}}</h4>
        </a>
      </div>
      <div owl-carousel-item data-merge="" class="mh-item-new">
        <a ng-click="vm.openCreateBand()" href="#">
          <div class="mh-me-avatar">
            <img src="../../../img/mh-carousel-item-new.jpg" />
          </div>
          <h4>Nueva Banda</h4>
        </a>
      </div>
    </owl-carousel>
  </div>
</section>

<band-edit id="{{vm.bandSelected}}"></band-edit>
