<section class="row mh-me-form">
  <div class="col-md-12 col-sm-12 center-block mh-me-form-legend">
    <h1>INFORMACION PERSONAL</h1><a href="#/a/artistsview">Ver</a>
    <form novalidate>

      <div class="form-group">
        <label for="inputEmail3" class="control-label">Nombre</label>
        <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre" required>
    	</div>

      <div class="form-group">
    		<label for="inputEmail3" class="control-label">Genero</label>
    		<input type="text" class="form-control" id="inputEmail3" placeholder="Genero" required>
    	</div>

      <div class="form-group">
  			<label for="inputEmail3" class="control-label">Twitter</label>
        <input type="text" pattern="^([_A-z0-9]){3,}$" maxlength="20" class="form-control" id="inputTwitter" placeholder="Twitter" required>
    	</div>

      <div class="form-group">
    		<label for="inputEmail3" class="control-label">Facebook</label>
    		<input type="text" class="form-control" id="inputEmail3" placeholder="facebook" required>
    	</div>

      <div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label">g+</label>
    		<input type="text" class="form-control" id="inputEmail3" placeholder="google" required>
    	</div>

      <div class="form-group">
      	<label for="inputEmail3" class="col-sm-2 control-label">Telefono</label>
    		<input type="text"  pattern="[0-9]*" class="form-control" id="inputEmail3" placeholder="Tel" required>
    	</div>

    	<div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Edad</label>
  			<input type="text"  pattern="[0-9]*" class="form-control" id="inputEmail3" placeholder="Edad" required>
  		</div>

      <div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Ciudad</label>
        <input type="text" class="form-control" id="inputEmail3" placeholder="ciudad" required>
    	</div>

      <div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="inputEmail3" placeholder="DD/MM/AAAA" required>
    	</div>

      <div class="form-group">
  			<label for="inputEmail3" class="col-sm-2 control-label">Bio</label>
    		<textarea class="form-control" rows="3" id="inputEmail3"  placeholder="bio" required></textarea>
    	</div>

      <button type="submit" class="btn btn-success btn-block">&iexcl;Actualizar!</button>


    </form>
  </div>
</section>
