<section class="row mh-me-box mh-ribbon-success">
  <div class="col-md-12 col-sm-12 center-block mh-me-legend">
    <h1>
      INFORMACION PERSONAL +
      <small>
        <a ng-href="{{vm.profile.uiSref}}" href="#">Ver Perfil</a>
      </small>
    </h1>
    <hr />
    <alert-flash-messages></alert-flash-messages>
    <form ng-submit="vm.actualizar()" name="form" role="form">
      <div class="form-group has-feedback">
        <label for="name" class="control-label">Nombre</label>
        <input
          ng-model="vm.profile.name"
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Nombre"
          ng-model-options="{ debounce : { 'default' : 500 } }"
        >
    	</div>

      <div class="form-group has-feedback">
        <label for="lastname" class="control-label">Apellido</label>
        <input
          ng-model="vm.profile.lastname"
          type="text"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Apellido"
          ng-model-options="{ debounce : { 'default' : 500 } }"
        >
    	</div>

      <div class="form-group has-feedback">
    		<label for="gender" class="control-label">G&eacute;nero</label>
        <input
          ng-model="vm.profile.gender"
          type="text"
          class="form-control"
          id="gender"
          name="gender"
          placeholder="Genero"
          ng-model-options="{ debounce : { 'default' : 500 } }"
        >
    	</div>

      <div class="form-group has-feedback">
  			<label for="twitterId" class="control-label">Twitter</label>
        <div class="input-group">
          <span class="input-group-addon" id="mh-twitter-at">@</span>
          <input
            ng-model="vm.profile.twitterId"
            type="text"
            class="form-control"
            id="twitterId"
            name="twitterId"
            placeholder="Twitter"
            ng-model-options="{ debounce : { 'default' : 500 } }"

          >
        </div>
    	</div>

      <div class="form-group has-feedback">
    		<label for="facebook" class="control-label">Facebook</label>
        <div class="input-group">
          <span class="input-group-addon" id="mh-facebook-at">https://facebook.com/</span>
          <input
            ng-model="vm.profile.facebookId"
            type="text"
            class="form-control"
            id="facebook"
            name="facebook"
            placeholder="Facebook"
            ng-model-options="{ debounce : { 'default' : 500 } }"

          >
        </div>
    	</div>

      <div class="form-group has-feedback">
    		<label for="google-plus" class="control-label">g+</label>
        <div class="input-group">
          <span class="input-group-addon" id="mh-google-plus-at">http://plus.google.com/</span>
          <input
            ng-model="vm.profile.googlePlusId"
            type="text"
            class="form-control"
            id="google-plus"
            name="google-plus"
            placeholder="Ggoogle"
            ng-model-options="{ debounce : { 'default' : 500 } }"

          >
        </div>
    	</div>

      <div class="form-group has-feedback">
      	<label for="phone" class="control-label">Tel&eacute;fono</label>
        <input

          ng-model="vm.profile.phone"
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Teléfono"
          ng-model-options="{ debounce : { 'default' : 500 } }"
        >
    	</div>

      <div class="form-group has-feedback">
        <label for="region" class="control-label">Ciudad</label>
        <country-select
          class="form-control"
          region="vm.profile.region"
          id="phone"
          name="phone">
        </country-select>
      </div>

      <div class="form-group has-feedback">
				<label for="birthdate" class="control-label">Fecha de nacimiento</label>
        <div class="input-group">
          <input
            ng-model="vm.profile.birthdate"
            type="text"
            class="form-control"
            id="birthdate"
            name="birthdate"
            placeholder="DD-MM-AAAA"
            ng-model-options="{ debounce : { 'default' : 500 } }"
          >
        </div>
    	</div>

      <div class="form-group has-feedback">
  			<label for="bio" class="control-label">Bio</label>
    		<textarea
          ng-model="vm.profile.bio"
          class="form-control"
          rows="3"
          id="bio"
          name="bio"
          placeholder="Bio"
          required style="resize: vertical;">
        </textarea>
    	</div>

      <div class="form-group">
        <button type="submit" ng-class="{'mh-stripped-button-loading': vm.dataLoading}" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success btn-block">
          &iexcl;Actualizar!
        </button>
      </div>

    </form>
  </div>
</section>
