<section class="row mh-me-box mh-ribbon-success">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>CREAR POSTULACI&Oacute;N +</h1>
    <form role="form" novalidate>
      <div class="form-group">
        <label for="mh-me-titulo-postulacion">Titulo</label>
        <input type="text" class="form-control" id="mh-me-titulo-postulacion" placeholder="Titulo">
      </div>
      <div class="form-group">
        <label for="mh-me-datetime-postulacion">Fecha</label>
        <input type="datetime" class="form-control" id="mh-me-datetime-postulacion" placeholder="datetime">
      </div>
      <div class="form-group">
        <label for="mh-me-descripcion-postulacion">Descripcion</label>
        <input type="text" class="form-control" id="mh-me-descripcion-postulacion" placeholder="Descripcion">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">&iexcl;Crear!</button>
      </div>
    </form>
  </div>
</section>

<section class="row mh-me-box mh-ribbon-warning">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>MIS POSTULACIONES+</h1>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 mh-picture">
        <a href="#">
          <img src="http://drive.google.com/uc?export=view&id=0B7q228Dq2WUuVUlUSUEtR0pkWEk" alt="...">
        </a>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <h4 class="media-heading">VIEJAS LOCAS - LUJAN - 14/01/2013 +</h4>
        Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 mh-picture">
        <a href="#">
          <img src="http://drive.google.com/uc?export=view&id=0B7q228Dq2WUuVUlUSUEtR0pkWEk" alt="...">
        </a>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <h4 class="media-heading">VIEJAS LOCAS - LUJAN - 14/01/2013 +</h4>
        Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto
      </div>
    </div>
  </div>
</section>

<section class="row mh-me-box mh-ribbon-info">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>POSTULADOS A +</h1>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 mh-picture">
        <a href="#">
          <img src="http://drive.google.com/uc?export=view&id=0B7q228Dq2WUuVUlUSUEtR0pkWEk" alt="...">
        </a>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <h4 class="media-heading">VIEJAS LOCAS - LUJAN - 14/01/2013 +</h4>
        Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 mh-picture">
        <a href="#">
          <img src="http://drive.google.com/uc?export=view&id=0B7q228Dq2WUuVUlUSUEtR0pkWEk" alt="...">
        </a>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <h4 class="media-heading">VIEJAS LOCAS - LUJAN - 14/01/2013 +</h4>
        Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto
      </div>
    </div>
  </div>
</section>
