<section class="row mh-me-box mh-ribbon-success">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>CREAR POSTULACI&Oacute;N +</h1>
    <form ng-submit="vm.create()" name="form" role="form">
      <div class="form-group has-feedback">
        <label for="title">Titulo</label>
        <input
          ng-model="vm.propousal.title"
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Titulo"
          ng-model-options="{ debounce : { 'default' : 500 } }"
          ng-minlength=5
          required
        >
        <span ng-if="form.title.$error.minLength" style="font-size: 2em; color: #ee5f5b;" class="fa fa-remove form-control-feedback" aria-hidden="true">
        <span ng-if="form.title.$error.required" style="font-size: 2em; color: #ee5f5b;" class="fa fa-remove form-control-feedback" aria-hidden="true">
      </div>
      <div class="form-group has-feedback">
        <label for="text">Descripcion</label>
        <input
          ng-model="vm.propousal.text"
          type="text"
          class="form-control"
          id="text"
          name="text"
          placeholder="Descripción"
          ng-model-options="{ debounce : { 'default' : 500 } }"
          ng-minlength=5
          required
        >
        <span ng-if="form.text.$error.minLength" style="font-size: 2em; color: #ee5f5b;" class="fa fa-remove form-control-feedback" aria-hidden="true">
        <span ng-if="form.text.$error.required" style="font-size: 2em; color: #ee5f5b;" class="fa fa-remove form-control-feedback" aria-hidden="true">
      </div>
      <div class="form-group">
        <button type="submit" ng-class="{'mh-stripped-button-loading': vm.dataLoading}" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success btn-block">
          &iexcl;Crear!
        </button>
      </div>
    </form>
  </div>
</section>

<section class="row mh-me-box mh-ribbon-warning">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>B&Uacute;SQUEDAS +</h1>
    <div ng-repeat="propousal in vm.propousals" class="row">
      <div class="col-xs-9 col-sm-9 col-md-11 col-lg-11">
        <h4 class="media-heading">
          <i class="fa fa-music"></i>
          {{propousal.title}} +
        </h4>
        <small>
          <small>
            <p>
              {{propousal.text}}
            </p>
          </small>
        </small>
        <h4 style="font-weight: bolder;">Postulantes:</h4>
        <h5>Artistas:</h5>
        <ul>
          <li ng-repeat="artist in propousal.artists">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img class="mh-me-avatar" gravatar-src="artist.email" gravatar-size="300"/>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{artist.name}} {{artist.lastname}}
                <p>{{artist.bio}}</p>
              </div>
            </div>
          </li>
        </ul>
        <h5>Bandas:</h5>
        <ul>
          <li ng-repeat="band in propousal.bands">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img class="mh-me-avatar" gravatar-src="band.email" gravatar-size="300"/>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{band.name}}
                <p>{{band.bio}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="row mh-me-box mh-ribbon-warning">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block mh-me-legend">
    <h1>POSTULADOS A +</h1>
    <div ng-repeat="postulate in vm.postulateds" class="row">
      <div class="col-xs-9 col-sm-9 col-md-11 col-lg-11">
        <h4 class="media-heading">
          <i class="fa fa-music"></i>
          {{postulate.title}} +
        </h4>
        <small>
          <small>
            <p>
              {{postulate.text}}
            </p>
          </small>
        </small>
      </div>
    </div>
  </div>
</section>
