<section class="row mh-me-postulaciones-crear">
  <div class="col-md-12 col-sm-12 center-block mh-me-postulaciones-crear-legend">
    <h1>CREAR POSTULACIONES +</h1>
    <form novalidate>
      <div class="form-group">
        <label for="mh-me-titulo-postulacion">Titulo</label>
        <input type="text" class="form-control" id="mh-me-titulo-postulacion" placeholder="Titulo">
      </div>
      <div class="form-group">
        <label for="mh-me-datetime-postulacion">Fecha</label>
        <input type="datetime" class="form-control" id="mh-me-datetime-postulacion" placeholder="datetime">
      </div>
      <div class="form-group">
        <label for="mh-me-descripcion-postulacion">Descripcion</label>
        <input type="text" class="form-control" id="mh-me-descripcion-postulacion" placeholder="Descripcion">
      </div>
      <button type="submit" class="btn btn-success btn-block">&iexcl;Crear!</button>
    </form>
  </div>
</section>

<section class="row mh-me-postulaciones-listarme">
  <div class="col-md-12 col-sm-12 center-block mh-me-postulaciones-listarme-legend">
    <h1>POSTULACIONES+</h1>
  </div>
</section>
