<section class="row mh-home-landing">
  <div class="col-md-8 col-sm-12 center-block mh-landing-legend">
    <p class="text-left">con MUSICHUB<small><i class="fa fa-copyright"></i></small></p>
  </div>
</section>
<section class="row mh-home-videos">
  <div class="col-md-12 col-sm-12 center-block mh-videos-legend">
    <h1>VIDEOS +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{ items: 3, merge:true, loop:false, lazyLoad:true, nav:false, margin:10, video:false, responsive:{0:{items:1}, 480:{items:2},600:{items:4}}}">
      <div owl-carousel-item="" data-merge="1.54" ng-repeat="video in vm.videos" ng-show="video.url" class="item-custom-video">
        <video class='videoPlayer' controls preload='metadata'>
          <source ng-src='{{video.url}}' type='{{video.format}}'>
        </video>
      </div>
    </owl-carousel>
  </div>
</section>

<postulate-home-search></postulate-home-search>

<events-home-search></events-home-search>

<section class="row mh-home-imagenes">
  <div class="col-md-12 col-sm-12 center-block mh-imagenes-legend">
    <h1>IMAGENES +</h1>
    <owl-carousel class="owl-carousel mh-owl-carousel" data-options="{loop:false, autoHeight : false, margin:10, lazyLoad:true, nav:false, responsive:{ 0:{ items:1 }, 600:{ items:3 }, 1000:{ items:5 } } }">
      <div owl-carousel-item="" data-merge="" ng-repeat="photo in vm.photos" ng-show="photo.fileId" class="item">
        <img class="lazyOwl" ng-src="http://drive.google.com/uc?export=view&id={{photo.fileId}}" alt="{{photo.title}}" width="100%" />
      </div>
    </owl-carousel>
  </div>
</section>
