<section class="row mh-home-landing">
  <div class="col-md-8 col-sm-12 center-block mh-landing-legend">
    <p class="text-left">con MUSICHUB<small><i class="fa fa-copyright"></i></small></p>
    <h1>Encontrá tu próxima banda</h1>
  </div>
</section>
<section class="row">
  <div class="col-md-8 col-sm-12">
    <h1>Pr&oacute;ximos Eventos</h1>
  </div>
</section>
<section class="row">
  <div class="col-md-8 col-sm-12">
    <h1>Artistas al Azar</h1>
  </div>
</section>
<section class="row">
  <div class="col-md-8 col-sm-12">
    <h1>&Uacute;ltimas Busqueda</h1>
  </div>
</section>
