// Custom Fonts - Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: lighter;
}

html {
  height: 100%;
}
body {
    overflow-x: hidden;
    height: 100%;
    background-image: url('../img/mh-background-home.png');
    background-color: darken($gray,12%);
  }

// Custom Ids

// Custom Classes
.mh-body-wrapper {
  //top: $navbar-height;
  padding-left: 0;
  margin-left: 0;
  height: 100%;
  transition: all 0.5s ease 0s;
  &.toggle {
    & .mh-sidebar-wrapper {
      width: 0px;
    }
    & .mh-content-body {
      margin-left: 0;

    }
  }
}

.mh-container-wrapper {
  position: relative;
  margin-right: 0px;
  height: 100%;
  & .mh-show-container {
    position: absolute;
    z-index: 100;

  }
  & .mh-content-body {

    transition: all 0.5s ease 0s;
    padding-left: 0;
    height: 100%;
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      margin-left: percentage((8.8 / 12))
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-left: percentage((3 / 12))
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-left: percentage((3 / 12))
    }
    @media (min-width: $screen-lg-min){
      margin-left: percentage((2 / 12))
    }
  }
}


//col-md-3 col-lg-2 col-sm-3 col-xs-9
.mh-sidebar-wrapper {
  //top: $navbar-height;
  background-image: url('../img/mh-sidemenu-pattern-bg.png');
  background-color: darken(rgba($gray-light, 0.9),12%);
  height: 100%;
  padding-top: $navbar-margin-bottom;
  overflow-y: auto;
  position: fixed;
  border-right: $gray-darker;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  transition: all 0.5s ease 0s;
  padding-right: 0;
  z-index: 1000;
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    width: percentage((9 / 12));
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: percentage((3 / 12));
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: percentage((3 / 12));
  }
  @media (min-width: $screen-lg-min){
    width: percentage((2 / 12));
  }

  & li {
    border-radius: 0;
  }
  & .mh-sidebar-brand-logo{
    height: 100%;
    margin-left: 6%;
  }
  & .mh-bands-search-form {
    width: 80%;
    margin: 0px auto 0px auto;
  }
  & .mh-sidebar-nav {
    width: 100%;
  }
  & .mh-auth-wrapper {
    margin: auto 10px auto 10px;
    & .mh-auth-haveaccount {
      margin-top: 10px;
    }
  }
  & .mh-sidebar-footer {
    & .mh-sidebar-footer-social {
      margin: 0px 20px 0px 20px;
      font-size: 2em;
      & a i {
          &.fa-twitter:hover {
            color: $brand-info;
          }
          &.fa-facebook-square:hover {
            color: $blue-facebook;
          }
          &.fa-google-plus-square:hover {
            color: $brand-danger;
          }
      }
    }
    & .mh-sidebar-footer-legend {
      margin-top: 10px;
      padding-right: 10px;
    }
  }
}
// Form
.mh-form-group-submit {
  margin-top: -5px;
}
// Home - Index
.mh-home-landing {
  position: relative;
  min-height: 180px;
  max-height: 100%;

  margin-left: 0;
  background-color: #ffffff;
  background-image: url('../img/mh-home-index-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  & .mh-landing-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 4em;
      color: $brand-warning;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 3em;
      }
    }
  }
}

.mh-home-videos {
  position: relative;
  min-height: 380px;
  max-height: 100%;
  & .mh-videos-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      margin-left: 3%;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}

.mh-home-postulaciones {
  position: relative;
  min-height: 180px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-postulaciones-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}


.mh-home-fechas {
  margin-top: 1%;
  position: relative;
  min-height: 180px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #f89406;
  & .mh-fechas-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
    ul{
      list-style: none;

    }
  }
}

.mh-home-imagenes {
  position: relative;
  min-height: 180px;
  max-height: 100%;
  & .mh-imagenes-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    h1 {
      font-weight: bolder;
      font-size: 2em;
      margin-left: 3%;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 3em;
      }
    }
  }
}

//band forms


.mh-me-formband {
  margin-top: 1%;
  position: relative;
  min-height: 150%;
  max-height: 155%;
  width: 70%;
  margin-left: 15%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-formband-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}




//me forms


.mh-me-form {
  margin-top: 1%;
  position: relative;
  min-height: 135%;
  max-height: 140%;
  width: 70%;
  margin-left: 15%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-form-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}





//me
.mh-me-presentacion {
  position: relative;
  min-height: 180px;
  max-height: 100%;
  }

.mh-me-imagen-artista{
  margin-top:7%;
  margin-left: 14%;
  width: 150px;
  height: 150px;
}

.mh-me-descripcion{
  color: #ffffff;
  font-size: 1em;
  padding-left: 10px;
  }


.mh-me-lista-banda{color: #ffffff;
font-size: 1em;
padding-left: 10px;}
.mh-me-lista-integrantes{color: #ffffff;
font-size: 1em;
list-style: none;
}

.mh-me-nombre{
  font-weight: bolder;
  font-size: 2em;
color: #ffffff;
@include text-shadow();
@media (max-width: $screen-lg-min) {
  margin-top: 10px;
  text-align: center;
  font-size: 3em;}}

.mh-me-home-reproductor {
  margin-top: 1%;
  position: relative;
  min-height: 180px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #f89406;
  & .mh-me-reproductor-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
    ul{
      list-style: none;

    }
  }
}

.mh-me-home-imagenes {
  position: relative;
  min-height: 180px;
  max-height: 100%;
  & .mh-me-imagenes-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    h1 {
      font-weight: bolder;
      font-size: 2em;
      margin-left: 3%;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 3em;
      }
    }
  }
}



.mh-me-home-videos {
  position: relative;
  min-height: 380px;
  max-height: 100%;
  & .mh-me-videos-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      margin-left: 3%;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}

// me -> Postulaciones


.mh-me-postulaciones-crear {
  margin-top: 1%;
  position: relative;
  min-height: 360px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-postulaciones-crear-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}


.mh-me-postulaciones-listarme {
  margin-top: 1%;
  position: relative;
  min-height: 180px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-postulaciones-listarme-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}
// Recuperar password



.mh-recuperar-wrapper {
  position: relative;
  background-image: url('../img/../img/mh-background-luis.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.mh-recuperar-textos{margin-top: 15px;}

.mh-recuperar-bg {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  & .mh-recuperar-login {
    & .mh-recuperar-quote {
      background-color: darken(rgba(#ffffff, .5), 80%);
      & blockquote {
        margin-bottom: 0;
        border-left: 5px solid $brand-warning;
        & small {
          color: #ffffff;
        }
      }
    }
  }
}



// Login -> To be refactorized

.mh-auth-login-wrapper {
  position: relative;
  background-image: url('../img/mh-background-luis.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.mh-auth-bg {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  & .mh-auth-login {
    & .mh-auth-quote {
      background-color: darken(rgba(#ffffff, .5), 80%);
      & blockquote {
        margin-bottom: 0;
        border-left: 5px solid $brand-warning;
        & small {
          color: #ffffff;
        }
      }
    }
  }
}

// Carousel

.item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.item-video {
height: 300px;
background: #000;
}

.owl-carousel1 .owl-video-wrapper {
position: relative;
height: 100%;}
/* background: #000; */
