// Custom Fonts - Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: lighter;
}

html {
  height: 100%;
}
body {
    overflow-x: hidden;
    height: 100%;
    background-image: url('../img/mh-background-home.jpg');
    //background-color: darken($gray,12%);
  }

// Custom Ids

// Custom Classes
.mh-body-wrapper {
  //top: $navbar-height;
  padding-left: 0;
  margin-left: 0;
  height: 100%;
  transition: all 0.5s ease 0s;
  &.toggle {
    & .mh-sidebar-wrapper {
      width: 0px;
    }
    & .mh-content-body {
      margin-left: 0;

    }
  }
}

.mh-container-wrapper {
  position: relative;
  margin-right: 0px;
  height: 100%;
  & .mh-show-container {
    position: absolute;
    z-index: 100;

  }
  & .mh-content-body {

    transition: all 0.5s ease 0s;
    padding-left: 0;
    height: 100%;
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      margin-left: percentage((8.8 / 12))
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-left: percentage((3 / 12))
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin-left: percentage((3 / 12))
    }
    @media (min-width: $screen-lg-min){
      margin-left: percentage((2 / 12))
    }
  }
}


//col-md-3 col-lg-2 col-sm-3 col-xs-9
.mh-sidebar-wrapper {
  //top: $navbar-height;
  background-image: url('../img/mh-sidemenu-pattern-bg.png');
  background-color: darken(rgba($gray-light, 0.9),12%);
  height: 100%;
  padding-top: $navbar-margin-bottom;
  overflow-y: auto;
  position: fixed;
  border-right: $gray-darker;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  transition: all 0.5s ease 0s;
  padding-right: 0;
  z-index: 1000;
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    width: percentage((9 / 12));
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: percentage((3 / 12));
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: percentage((3 / 12));
  }
  @media (min-width: $screen-lg-min){
    width: percentage((2 / 12));
  }

  & li {
    border-radius: 0;
  }
  & .mh-sidebar-brand-logo{
    height: 100%;
    margin-left: 6%;
  }
  & .mh-bands-search-form {
    width: 80%;
    margin: 0px auto 0px auto;
  }
  & .mh-sidebar-nav {
    width: 100%;
  }
  & .mh-auth-wrapper {
    margin: auto 10px auto 10px;
    & .mh-auth-haveaccount {
      margin-top: 10px;
    }
  }
  & .mh-sidebar-footer {
    & .mh-sidebar-footer-social {
      margin: 0px 20px 0px 20px;
      font-size: 2em;
      & a i {
          &.fa-twitter:hover {
            color: $brand-info;
          }
          &.fa-facebook-square:hover {
            color: $blue-facebook;
          }
          &.fa-google-plus-square:hover {
            color: $brand-danger;
          }
      }
    }
    & .mh-sidebar-footer-legend {
      margin-top: 10px;
      padding-right: 10px;
    }
  }
}
// Form
.mh-form-group-submit {
  margin-top: -5px;
}
// Home - Index
.mh-home-landing {
  position: relative;
  min-height: 220px;
  max-height: 100%;
  margin-left: 0;
  background-image: url('../img/mh-home-index-bg.jpg');
  background-repeat: repeat-x;
  background-origin: bottom;
  background-attachment: fixed;
  & .mh-landing-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 4em;
      color: $brand-warning;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 3em;
      }
    }
  }
}

.mh-home-videos {
  position: relative;
  min-height: 380px;
  max-height: 100%;
  & .mh-videos-legend {
    text-transform: uppercase;
    position: absolute;
    margin-top: 20px;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-left: 3%;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}

.mh-home-postulaciones {
  margin-top: 1%;
  position: relative;
  padding-bottom: 15px;
  min-height: 200px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-legend {
    text-transform: uppercase;
    position: relative;
    left: 0;
    right: 0;
    & .media {
      width: 100%;
      & .media-left {
        width: 20%;
        & img {
          width: 100%;
        }
      }
    }
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}


.mh-home-fechas {
  margin-top: 1%;
  padding-bottom: 15px;
  position: relative;
  min-height: 200px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: $brand-warning;
  & .mh-legend {
    text-transform: uppercase;
    left: 0;
    right: 0;
    & .media {
      width: 100%;
      & .media-left {
        width: 20%;
        & img {
          width: 100%;
        }
      }
    }
    p {
      color: #ffffff;
      font-size: 1.3em;
      padding-left: 10px;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
      &.title {
        padding: 5px;
      }
      &.text {
        padding: 10px;
        text-shadow: none;
        background-color: darken(rgba($brand-warning, 0.1), 80%);
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
    ul{
      list-style: none;

    }
  }
}

.mh-home-imagenes {
  position: relative;
  min-height: 180px;
  max-height: 100%;
  & .mh-imagenes-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    h1 {
      font-weight: bolder;
      font-size: 2em;
      margin-left: 3%;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 3em;
      }
    }
  }
}

//band forms


.mh-me-formband {
  margin-top: 1%;
  position: relative;
  min-height: 150%;
  max-height: 155%;
  width: 70%;
  margin-left: 15%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-formband-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}




//me forms


.mh-me-form {
  margin-top: 1%;
  position: relative;
  min-height: 135%;
  max-height: 140%;
  width: 70%;
  margin-left: 15%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-form-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}





//me
.mh-me-presentacion {
  position: relative;
  max-height: 100%;
  margin-left: 0;
  margin: 0px auto;
  @media (min-width: $screen-md-min) {
    width: 96%;
  }
}

.mh-me-avatar{
  margin-top:7%;
  margin-left: 0;
  width: 100%;
}

.mh-gravatar-legend {
  font-size: 0.8em;
  margin-left: 0;
}

.mh-me-descripcion{
  color: #ffffff;
  text-align: center;
  margin-left: 0;
  margin-top: 20px;
  width: 100%;
  @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
    font-size: 0.8em;
  }
}


.mh-me-lista-banda{color: #ffffff;
font-size: 1em;
padding-left: 10px;}
.mh-me-lista-integrantes{color: #ffffff;
font-size: 1em;
list-style: none;
}

.mh-me-nombre{
  font-weight: bolder;
  font-size: 2em;
  color: #ffffff;
  @include text-shadow();
  @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    font-size: 1em;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    font-size: 2em;
    width: 96%;
  }
  @media (min-width: $screen-lg-min) {
    width: 96%;
    margin-top: 10px;
    text-align: center;
    font-size: 3em;
  }
}

.mh-me-description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mh-me-reproductor {
  margin-top: 1%;
  position: relative;
  min-height: 180px;
  max-height: 100%;
  border-top-style: solid;
  border-top-color: $brand-warning;
  & .mh-me-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 20px;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        font-size: 1em;
      }
    }
    ul{
      list-style: none;

    }
  }
}

.mh-me-comments {
  position: relative;
  max-height: 100%;
  width: 96%;
  margin-top: 1%;
  margin-left: 2%;
  border-top-style: solid;
  border-top-color: $brand-info;
  & .mh-me-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    h1 {
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
    }
  }
}

.mh-me-imagenes {
  margin-top: 1%;
  position: relative;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  border-top-style: solid;
  border-top-color: $brand-success;
  min-height: 470px;
  & .mh-me-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    & .owl-carousel {
      height: 420px;
      & .owl-stage-outer {
        min-height: 100%;
      }
      & .item {
        min-height: 100%;
        width: 100%;
        & img {
          max-height: 340px;
        }
      }
    }
    h1 {
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
    }
  }
}



.mh-me-videos {
  margin-top: 1%;
  position: relative;
  min-height: 360px;
  max-height: 100%;
  & .mh-separator {
    margin: 0px auto 0px auto;
    width: 96%;
    height: 1px;
    border-top-style: solid;
    border-top-color: $brand-danger;

  }
  & .mh-me-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-min) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 20px;
      margin-left: 3%;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
    }
  }
}

// me -> Postulaciones


.mh-me-postulaciones-crear {
  margin-top: 1%;
  position: relative;
  min-height: 360px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-postulaciones-crear-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}


.mh-me-postulaciones-listarme {
  margin-top: 1%;
  position: relative;
  min-height: 180px;
  max-height: 100%;
  width: 96%;
  margin-left: 2%;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  border-top-style: solid;
  border-top-color: #62c462;
  & .mh-me-postulaciones-listarme-legend {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    p {
      color: $violet-base;
      font-size: 1.3em;
      padding-left: 10px;
      font-weight: bolder;
      margin-bottom: 0;
      @include text-shadow();
      @media (max-width: $screen-sm-max) and (min-width: $screen-xs-max) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 0;
      font-weight: bolder;
      font-size: 2em;
      color: #ffffff;
      @include text-shadow();
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
      }
    }
  }
}
// Recuperar password



.mh-recuperar-wrapper {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.mh-recuperar-textos{margin-top: 15px;}

.mh-recuperar-bg {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  & .mh-recuperar-login {
    & .mh-recuperar-quote {
      background-color: darken(rgba(#ffffff, .5), 80%);
      & blockquote {
        margin-bottom: 0;
        border-left: 5px solid $brand-warning;
        & small {
          color: #ffffff;
        }
      }
    }
  }
}



// Login -> To be refactorized

.mh-auth-login-wrapper {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.mh-auth-bg {
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  background-color: rgba($gray-darker,0.7);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  & .mh-auth-login {
    & .mh-auth-quote {
      background-color: darken(rgba(#ffffff, .5), 80%);
      & blockquote {
        margin-bottom: 0;
        border-left: 5px solid $brand-warning;
        & small {
          color: #ffffff;
        }
      }
    }
  }
}

// Carousel

.item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}



.item-video {
  @extend .item;
  height: 300px;
}

.item-events {
  @extend .item;
  max-width: 300px;
  background-color: $brand-warning;
  & p {
    font-weight: normal;
  }
  & img {
    max-height: 300px;
  }
}

.mh-owl-carousel {
  position: relative;
  height: 300px;
  & .owl-stage {
    height: 300px;
    & .owl-item {
      width: 100%;
      & .item-custom-video {
      background-color: $gray-base;
        min-height: 100%;
        width: 100%;
        height: 300px;
        text-align: center;
        & .videoPlayer {
          height: 300px;
          width: 100%;
          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

            height: auto;
          }
        }
      }
    }
  }
}
.mh-owl-carousel-embedded {
  height: 300px;
}

// Video

.videogular-container {
	width: 100%;
	height: 320px;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}

	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}

	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}

	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}


.mh-search-box {
  width: 100%;
  & .twitter-typeahead {
    width: 100%;
    & .tt-hint {
      color: darken($brand-warning, 10%);
    }
    & .tt-dropdown-menu {
      width: 100%;
      background-color: $brand-warning;
      & .mh-search-header {
        color: #ffffff;
        background-color: $brand-warning;
        border-bottom: 1px solid darken($brand-warning, 30%);
        padding-left: 5px;
        margin-bottom: 0px;
      }
      & .tt-dataset-artists {
        margin-top: -10px;
        background-color: darken($brand-warning, 10%);
        & .tt-suggestions {
          color: #ffffff;
          & :hover {
            background-color: darken($brand-warning, 20%);
            cursor: hand;
            cursor: pointer;
          }
          & .tt-suggestion {
            padding-left: 5px;
          }
        }
      }
    }
  }
  & input {
    height: 37px;
  }
  & span {
    color: $brand-warning;
    line-height: 37px;
  }
}

.mh-stripped-button-loading {
  @include gradient-striped;
  background-size: 40px 40px;
  @include animation(progress-bar-stripes 2s linear infinite);
}
