<section random-quotes quote="quoteText" class="mh-auth-login-wrapper">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-8 col-xs-12 center-block mh-auth-bg">
      <div class="mh-auth-login">
        <h2 class="text-center">Ingresá a Musichub</h2>
        <br />
        <alert-flash-messages></alert-flash-messages>
        <form name="form" ng-submit="vm.login()" role="form" novalidate>
          <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input type="username" class="form-control input-lg" id="username" ng-model="vm.username" placeholder="Nombre de Usuario">
          </div>
          <div class="form-group">
            <label for="password">Contrase&ntilde;a</label>
            <input type="password" class="form-control input-lg" id="password" ng-model="vm.password" placeholder="Contrase&ntilde;a">
          </div>
          <button type="submit" ng-class="{'mh-stripped-button-loading': vm.dataLoading}" ng-disabled="vm.dataLoading" class="btn btn-success btn-block">
            &iexcl;Ingres&aacute;!
          </button>
        </form>
        <hr />
        <p class="text-right mh-auth-haveaccount">
          &iquest;No estas Registrado?
          <a ui-sref="register">Create una Cuenta</a>
        </p>
        <div class="mh-auth-quote">
          <blockquote>
            <small ng-bind="quoteText"></small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
